@import url('https://fonts.googleapis.com/css?family=Raleway:200,400');

html {
	font-family: Raleway, sans-serif;
	font-size: 18px;
	color: #444;
	background-color: purple;
	padding: 0 5%;
}

body {
	max-width: 960px;
	margin: 2em auto;
	padding: 5%;
	background-color: #fff;
}

h2 {
	margin-top: 2em;
}

pre {
	font-size: .75em;
	background-color: #ddd;
	color: black;
	padding: 2em;
	overflow-x: scroll;
}

.icon {
	width: 5em;
	height: 5em;
	fill: black;
}

#svg-as-data-uri--rectangle {
	background: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22150%22%20height%3D%22150%22%20viewBox%3D%220%200%2010%20150%22%3E%3Crect%20width%3D%2225%22%20height%3D%22100%22%20rx%3D%225%22%20ry%3D%225%22%20transform%3D%22rotate(45)%22%3E%3C%2Frect%3E%3C%2Fsvg%3E");
	width: 200px;
	height: 200px;
}
